<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB485A1C2944DC3100C82D5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB7037BF292F4A84000E2881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB7037CF292F4A85000E2881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB7037D9292F4A85000E2881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
